body{
    background-position: 0 0;
    animation-name: backgroundAnimation;
    -webkit-animation: slide 1s linear infinite;
    overflow: hidden;
}


#NyanCat{
    display: block;
    margin: 0 auto;
}

img{
    width: 100px;
    height: 80px;
}


.catImage{
    /* transform-origin: 0% 100%; */
    /* animation: catAnimation 10s linear; */
    
    transition: 5s;
}

@keyframes slide{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -100px -100px;
    }  
}

/* @keyframes catAnimation{
    0%{
        left: 0;
        top: 0;
    }
    50%{
        transform: rotate(260deg);
    }
    100%{
        left: 90vw;
        top: 90vh;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
} */



